*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'avenir';
    src: url(../assets/fonts/avenir_ff/FontAwesome.otf),
   
}

html, body {
    height: 100%;
    font-family: 'avenir', sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;   
    min-height: 100vh;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

$white-clr : #ffffff;
$primary-clr: #2c3e50;
$secondary-clr: #00bc77;
$tertiary-clr:#222;
$bg-dark-clr: #12002b;

@mixin buttonstyle {
    border-color: $secondary-clr ;
    background-color: $secondary-clr;
    color:$white-clr;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

@mixin input-edit {
    outline: 0;
    border-radius: 5px;
    border-color: $secondary-clr;    
    padding: 10px;
}