.user {
    width: 100%;
    background-color: $bg-dark-clr;
    flex: 1;
    color: $white-clr;
    text-align: center;
    &__welcom {
        margin-bottom: 2rem;  
        &--name {
            margin: 1rem 0;
        }
        &--full-name {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: bold;
        }
        &--edit {
            display: grid;           
            grid-template-columns: repeat(2, 13rem);
            justify-content: center;
            gap: 1rem;
            width: 80%;
            margin: 0 auto;
            input {
                @include input-edit()
            }
            .btn-left {
                @include buttonstyle();
                width: 110px;
                justify-self:right;
                border-radius: 5px;
            }
            .btn-right {
                @include buttonstyle();
                width: 110px;
                justify-self:left; 
                border-radius: 5px;             
            }
                       
            
        }     
        &--button-edit {
           @include buttonstyle()
        }
    }
    &__account {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid black;
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 2rem;
        padding: 1.5rem;
        &--content {            
            flex: 1;
            color: $primary-clr;
            .account-title {
                font-size: 1rem; 
                font-weight: normal;
            }
            .account-amount {
                font-size: 2.5rem;
                font-weight: bold;
            }           
        }
        &--transaction {
            .transaction-button {
                @include buttonstyle();
                width: 200px;
                font-size: 1.1rem;
            }
        }
    }
}

.transaction {
    color: $secondary-clr;
    margin-top: 12rem; 
}

@media screen and( max-width: 768px) {
    .user {
        &__account {
            flex-direction: column;  
            text-align: center;        
            &--transaction {
                margin: 1.5em 0;
                width: 100%;
                .transaction-button{
                    width: 100%;
                }
            }
            &--content {
                width: 100%;
            }
        }
    }
}



